*{
    margin: 0;
}
.nav-container{
    height: 10%;
    width: 100%;
    
}
.container {
    display: flex;  /* Enables side-by-side layout */
    width: 100%;
    height: 80%;  /* Full viewport height */
}

.left {
    width: 50%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    
    
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;

    
    
    
}
.areaname {
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}
.image {
    
    width: 400px;
    height: 400px;
    background-color: chartreuse;
   
    border-radius: 20px;
    box-shadow: 0 0 20px 2px  rgb(3, 255, 234);
    

}
img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.info {
    
    text-align: center;
    height: 60%;
    width: 50%;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.reason{

height: 60%;
width: 100%;
   
}
body {
    background-image: url(./images/background.png) ;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
    width: 100vw;
    height: 100vh; 
    background-size: cover;

}


.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-between;
    padding:0px 60px;
    

}
.navoptions{
    
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-weight: 550;
    font-family: monospace;
    font-style: normal;
    color: white;
}
#about:hover{
    border: 2px solid white;
    
}
#features:hover{
    border: 2px solid white;
    
}#blog:hover{
    border: 2px solid white;
    
}#pricing:hover{
    border: 2px solid white;
    
}

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;

}
#gamesync-logo{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.logo{
    width: 250px;
    height: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items: center;
    font-size: 30px ;
    color: white;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: inline-block;
}
.call-button {
    background-color: rgb(48, 48, 49);
    color: rgb(255, 255, 255);
    font-weight: bold;
    
    padding: 15px;
    border-radius: 25px;
}
.call-button:hover{
    background-color: rgb(50, 98, 160);
    transform: scale(1.1);
}
.pipe-container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
   
    
    
    
}
.spipes{
    z-index: 1000;
    background-color: rgb(20, 255, 239);
}
.spipe1{
    height: 51%;
    width: 12px;
    position: absolute;
    top: 36%;
    left: 48%;
    rotate: -63deg;
    
}
.spipe2{
    height: 35%;
    width: 12px;
    position: absolute;
    top: 28%;
    left: 51%;
    rotate: 44deg;
}
.spipe5{
    height: 26%;
    width: 12px;
    position: absolute;
    top: 56%;
    left: 41%;
    rotate: 44deg;
}

.spipe6{
    height: 27%;
    width: 12px;
    position: absolute;
    top: 31%;
    left: 43%;
    rotate: 103deg;
}
.spipe7{
    height: 32%;
    width: 12px;
    position: absolute;
    top: 22%;
    left: 55%;
    rotate: 50deg;
}
.spipe8{
    height: 38%;
    width: 12px;
    position: absolute;
    top: 45%;
    left: 44%;
    rotate: 35deg;
}
.spipe4{
    height: 18%;
    width: 09px;
    position: absolute;
    top: 39%;
    left: 39%;
    rotate: 35deg;
}
.spipe3 {
    height: 9%;
    width: 09px;
    position: absolute;
    top: 34%;
    left: 39%;
    rotate: 120deg;
}

.spipe9 {
    height: 45%;
    width: 09px;
    position: absolute;
    top: 29%;
    left: 52%;
    rotate: 117deg;
}

.pipe10-1 {
    height: 54%;
    width: 09px; 
    position: absolute;
    top: 40%;
    left: 50%;
    rotate: 117deg;
}

.spipe12 {
    height: 44%;
    width: 09px;
    position: absolute;
    top: 14%;
    left: 53%;
    rotate: 113deg;
}

.spipe18 {
    height: 38%;
    width: 09px;
    position: absolute;
    top: 36%;
    left: 51%;
    rotate: 26deg;
}

.spipe19 {
    height: 40%;
    width: 09px;
    position: absolute;
    top: 52%;
    left: 46%;
    rotate: 114deg;
}

.pipe10-2 {
    height: 56%;
    width: 09px;
    position: absolute;
    top: 15%;
    left: 50%;
    rotate: 113deg;   
}

.spipe11 {
    height: 43%;
    width: 09px;
    position: absolute;
    top: 37%;
    left: 44%;
    rotate: 353deg;
}

.spipe13 {
    height: 38%;
    width: 09px;
    position: absolute;
    top: 16%;
    left: 51%;
    rotate: 103deg;
}

.spipe17 {
    height: 31%;
    width: 08px;
    position: absolute;
    top: 29%;
    left: 40%;
    rotate: 19deg;
}

.spipe20 {
    height: 27%;
    width: 09px;
    position: absolute;
    top: 55%;
    left: 42%;
    rotate: 134deg;
}

.spipe21 {
    height: 13%;
    width: 09px;
    position: absolute;
    top: 72%;
    left: 50%;
    rotate: 90deg;
}

.spipe16 {
    height: 36%;
    width: 09px;
    position: absolute;
    top: 34%;
    left: 47%;
    rotate: 31deg;
}

.spipe14 {
    height: 45%;
    width: 07px;
    position: absolute;
    top: 35%;
    left: 42%;
    rotate: 7deg;
}

.spipe24 {
    height: 34%;
    width: 09px;
    position: absolute;
    top: 53%;
    left: 49%;
    rotate: 103deg;
}

.spipe25 {
    height: 35%;
    width: 09px;
    position: absolute;
    top: 23%;
    left: 51%;
    rotate: 109deg;
}

.spipe22 {
    height: 27%;
    width: 09px;
    position: absolute;
    top: 59%;
    left: 45%;
    rotate: 104deg;
}

.spipe15 {
    height: 43%;
    width: 09px;
    position: absolute;
    top: 37%;
    left: 40%;
    rotate: 17deg;
}

.spipe23 {
    height: 35%;
    width: 09px;
    position: absolute;
    top: 32%;
    left: 50%;
    rotate: 132deg;
}

.pipe27-1 {
    height: 32%;
    width: 09px;
    position: absolute;
    top: 46%;
    left: 56%;
    rotate: 38.5deg;
}

.pipe27-2 {
    height: 25%;
    width: 09px;
    position: absolute;
    top: 23%;
    left: 46%;
    rotate: 45deg; 
}

.spipe31 {
    height: 38%;
    width: 06px;
    position: absolute;
    top: 43%;
    left: 45%;
    rotate: 163deg;
}

.spipe30 {
    height: 54%;
    width: 09px;
    position: absolute;
    top: 27%;
    left: 55%;
    rotate: 145.5deg;
}

.spipe28 {
    height: 52%;
    width: 09px;
    position: absolute;
    top: 23%;
    left: 49%;
    rotate: 98.5deg; 
}

.spipe29 {
    height: 42%;
    width: 09px;
    position: absolute;
    top: 49%;
    left: 52%;
    rotate: 99.9deg; 
}

.spipes{
    width: 14px;
}